# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan
generated_imports.tf

# Terragrunt
.terragrunt-cache/

# Environment / Secrets
*.auto.tfvars
secret.tfvars
.env
*.env

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
